@import "tailwindcss";

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

main {
  flex: 1 1 auto;
}

.bg-main {
  min-height: 100vh;
  background-image: url("./assets/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  font-family: "Roboto", sans-serif;
  height: 100vh;
  width: 100vw;
}
