@import "tailwindcss";

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

main {
  flex: 1 1 auto;
}

.bg-main {
  min-height: 100vh;
  background-image: url("./assets/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  font-family: "Roboto", sans-serif;
  height: 100vh;
  width: 100vw;
}


@layer utilities {
  .animate-slideFadeIn {
    animation: slideFadeIn 0.25s ease-out forwards;
  }

  .animate-slideFadeOut {
    animation: slideFadeOut 0.2s ease-in forwards;
  }

  @keyframes slideFadeIn {
    0% {
      opacity: 0;
      transform: translateY(-10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes slideFadeOut {
    0% {
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      opacity: 0;
      transform: translateY(-10px);
    }
  }
}